body{
    background-color: lightcyan;
    font-family: 'Yusei Magic', sans-serif;
}

table{
  
    border:palegreen;
    border-style: outset;
    padding: 2px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;

}

th{

    
    background-color:deepskyblue;
    color: white;
    text-align: center;
    padding: 10px;
    
}

td{
    border-bottom: 1px solid goldenrod;
  
}

.key_code{
    text-align: center;
    padding: 2px;
}

.key{
    text-align: left;
    padding: 2px;
    padding-left: 40px;
    padding-right: 20px;
}
#container{
    display: none;

}
#tbl_btn{
    display: none;
}
.dark{
    background-color: rgb(63, 63, 62);
    color: rgba(255, 255, 255, 0.959);
}

#main{
    display: flex;
    justify-content: center;
    font-size: 250px;
}
.cards {
    margin: 5px;
    text-align: center;

}
.others{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    
  
}
.values{
    font-size: 30px;
    border: none;
}
nav{
text-align: right;   
}
.btn{
    color: inherit;
    background-color: gray;
    border-radius: 10px;
    padding: 0.7em;
    font-size: 1em;
    border-color:palegreen ;
    border-width: 3px;

}
.btn:hover{
    background-color: cyan;
    
}